<nav class="navbar">
  <div class="container-nav">
    <a class="navbar-brand">ChatApp</a>
    <div class="navbar-btns">
      <ul class="navbar-nav">
        <li class="nav-item">
          <button (click)="deleteProfile()" class="btn btn-delete">Delete Profile</button>
        </li>
        <li class="nav-item">
          <button (click)="logout()" class="btn btn-logout">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="chat-page">
  
  
  <div class="sidebar">
    <!--group admin section-->
    <div *ngIf="userRole === 'GroupAdmin' || userRole === 'SuperAdmin'">
      <h3>Group Administration</h3>

      <!--create group-->
      <div class="form-group">
        <label for="newGroupName">New Group Name</label>
        <div class="input-group">
          <input type="text" [(ngModel)]="newGroupName" id="newGroupName" class="form-control"/>
          <button (click)="createGroup()" class="btn-create">Create Group</button>
        </div>
      </div>

      <!--list of groups-->
      <div *ngFor="let group of groups" class="group-item">
        <div class="flex-space-between-center">
          <span class="group-name">Group:{{ group.name }}</span>
          <div>
            <button (click)="selectGroup(group); isCreatingChannel = true" class="create-btn">Create Channel</button>
            <button (click)="removeGroup(group)" class="btn-remove">✖</button>
          </div>
        </div>

        <!--list of channels-->
        <ul class="channels-list mt-2">
          <li *ngFor="let channel of group.channels" class="flex-between">
            <span>Channel:{{ channel.name }}</span>
            <button (click)="selectChannel(channel)" class="btn-join ">Join Channel</button>
            <button (click)="removeChannel(group, channel)" class="btn-remove">Delete</button>
          </li>
        </ul>

        <!--create channel form-->
        <div *ngIf="selectedGroup === group && isCreatingChannel" class="channel-management">
          <div class="form-group">
            <label for="newChannelName">New Channel Name</label>
            <div class="input-group">
              <input type="text" [(ngModel)]="newChannelName" id="newChannelName" class="form-control"/>
              <button (click)="createChannel()" class="btn-create">Create Channel</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Regular user section -->
  <div *ngIf="userRole === 'User'">
    <h3>Your Groups and Channels</h3>
    <div *ngFor="let group of groups" class="group-item">
      <h4>Group:{{ group.name }}</h4>
      <ul class="channels-list mt-2">
        <li *ngFor="let channel of group.channels" class="flex-between">
          <span>Channel:{{ channel.name }}</span>
          <button (click)="selectChannel(channel)" class="btn-join">Join Channel</button>
        </li>
      </ul>
    </div>
</div>

  </div>

  <!--chat container-->
  <div class="chat-container">
    <h2>Welcome, {{ username }}</h2>

    <!--chat input section only if a channel selected-->
    <div *ngIf="selectedChannel; else noChannelSelected">
      <form (ngSubmit)="sendMessage()" class="chat-form">
        <div class="form-group">
          <label for="messagecontent">New Message</label>
          <input type="text" [(ngModel)]="messagecontent" name="messagecontent" id="messagecontent" class="form-control" required/>
        </div>
        <button type="submit" class="submit-btn">Send</button>
      </form>

      <!--message list-->
      <ul class="messages-list">
        <li *ngFor="let message of messages" class="message-item">{{ message }}</li>
      </ul>
    </div>

    <!--if no channel is selected-->
    <ng-template #noChannelSelected>
      <p>Please select a channel to start chatting.</p>
    </ng-template>
  </div>

  <!--users in channel-->
  <div class="sidebar">
    <h3>Users in {{ selectedChannel?.name || 'Channel' }}</h3>
    <ul class="users-list">
      <li *ngFor="let user of selectedChannel?.users" class="flex-space-between-center">
        <span>{{ user.username }}</span>
        <div *ngIf="userRole === 'GroupAdmin' || userRole === 'SuperAdmin'">
          <button (click)="removeUserFromChannel(user)" class="btn-remove">Remove</button>
          <button (click)="banUserFromChannel(user)" class="btn-remove">Ban</button>
        </div>
      </li>
    </ul>

    <!--add user to channel section-->
    <div *ngIf="userRole === 'GroupAdmin' || userRole === 'SuperAdmin' && selectedChannel" class="add-user-btn">
      <h4>Add User to Channel</h4>
      <div class="form-group">
        <label for="userToAdd">Select User</label>
        <select id="userToAdd" [(ngModel)]="userToAdd" class="form-control">
          <option *ngFor="let user of users" [value]="user.username">{{ user.username }}</option>
        </select>
        <button (click)="addUserToChannel()" class="add-user-btn">Add User</button>
      </div>
    </div>
  </div>
</div>


